.welcome-message {
    text-align: center;
}

.track-control-button .fa:hover {
    cursor: pointer;
}

#tracks-list-wrap {
    padding-bottom: 128px;
}

#playing-status {
    display: block;
    text-align: center;
}

.palying-duration {
    margin-bottom: 5px;
}