.welcome-message {
    text-align: center;
}

.music-control-button .fa:hover {
    cursor: pointer;
}

#playing-status {
    display: block;
    text-align: center;
}

.palying-duration {
    margin-bottom: 5px;
}